pre {
  background-color: #F8F8F8;
  border: 1px solid #DDD;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

p code {
  margin: 0px 2px;
  padding: 0px 5px;
  border: 1px solid #DDD;
  background-color: #F8F8F8;
  border-radius: 3px;
}

.timeline-comment {
  font: 13px/1.4 Helvetica,arial,freesans,clean,sans-serif;
}

a {
  color: #4183C4;
  text-decoration: none;
}

a:focus, a:active {
    text-decoration: underline;
}
a:focus {
    outline: thin dotted;
}
:focus {
    outline: medium none;
}
a {
    color: #4183C4;
    text-decoration: none;
}
a, a:visited, a:active {
    color: #8AB9D1;
    transition: all 0.25s ease-in-out 0s;
}

